page-login {
ion-header {
  background: url('assets/imgs/nogal.jpg');
}
.item-ios{
  background-color: transparent;
}

.item-md{
  background-color: transparent;
}

#footer{
.toolbar-background-md {
    border-color: #b2b2b2 !important;
    background: #f8f8f8 !important;
}
};

}
