page-login {
  .fingerprint{
  img{
  width: 50px;
  height: auto;
}
}

.imgLogo{
  width: 200px;
  height: auto
}
  .content-ios {
    background-color: #1C5699;
  }

  .content-md {
    background-color: #1C5699;
  }

.item-ios{
  background-color: transparent;
}
.item-md{
  background-color: transparent;
}
.btn-testing{
  font-size: 2.5rem;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.btn-errase {
  font-size: 2.5rem;
  position: absolute;
  left: 0px;
  bottom: -4px;
}

// ion-label{
//   color: color($colors,light) !important;
// }
// ion-input{
//     color: color($colors,light) !important;
// }
// ion-icon{
//   color: color($colors,light) !important;
// }
#footer{
    // color: color($colors,light);
.toolbar-background-md {
    border-color:transparent !important;
    background:transparent !important;

}
.toolbar-background-ios {
    border-color: transparent !important;
    background:transparent !important;

}
};

}
