page-login {
  .fingerprint{
  img{
  width: 25%;
  height: auto;
}
p{
  color:white;
  font-weight: bold;
}

}
  .content-ios {
    background-color: #1C5699;
  }

  .content-md {
    background-color: #1C5699;
  }

.item-ios{
  background-color: transparent;
}
.item-md{
  background-color: transparent;
}

ion-label{
  color: color($colors,light) !important;
}
ion-input{
    color: color($colors,light) !important;
}
ion-icon{
  color: color($colors,light) !important;
}
#footer{
    color: color($colors,light);
.toolbar-background-md {
    border-color:transparent !important;
    background:transparent !important;

}
.toolbar-background-ios {
    border-color: transparent !important;
    background:transparent !important;

}
};

}
