<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-toolbar no-border-top>
<ion-title>
  Bienvenido
</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content [style.background-color]="backgroundColor">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="type" [color]="fonClar=='S'?'primary':'light' ">
          <ion-segment-button value="login">
            Login
          </ion-segment-button>
          <ion-segment-button value="register">
            Registro y/o Actualización
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div [ngSwitch]="type">
          <form (ngSubmit)="onSubmit(loginForm);" #loginForm="ngForm" *ngSwitchCase="'login'">
            <ion-list class="animate-in-secondary">  
              <ion-item>
                <ion-label [style.color] = "colorSeg" floating>{{placeHolderLogin}}</ion-label>
                <ion-icon [style.color] = "colorSeg" name="person" item-start></ion-icon>
                <ion-input [style.color] = "colorSeg" [(ngModel)]="user.userAction" name="action" type="text" type="number" clearInput="true"
                  required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label [style.color] = "colorSeg" floating>Contraseña</ion-label>
                <ion-icon [style.color] = "colorSeg" name="lock" item-start></ion-icon>
                <ion-input [style.color] = "colorSeg" #password [type]="passwordType" [(ngModel)]="user.userPass" name="pass" required></ion-input>

                <button type="button" [style.color] = "colorSeg" ion-button icon-only clear item-right tappable  (tap)="showKey()">
                    <ion-icon item-end [name]="passwordIcon"></ion-icon>
                </button>
               
                


              </ion-item>
              <div padding>
                <button type="submit" [style.color] = "colorTer"  [style.background-color]="colorPri" [disabled]="!loginForm.form.valid" ion-button block>Ingresar &nbsp;
                  <ion-icon button name="checkmark-circle"></ion-icon>
                </button>              
              </div>            
            </ion-list>
          </form>

          <form (ngSubmit)="onRegister(RegisterForm);" #RegisterForm="ngForm" *ngSwitchCase="'register'">
            <ion-list class="animate-in-secondary">
              <ion-item>
                <ion-icon [style.color] = "colorSeg" name="person" item-start></ion-icon>
                <ion-label [style.color] = "colorSeg" floating>{{placeHolderLogin}}</ion-label>
                <ion-input [style.color] = "colorSeg" type="number" [(ngModel)]="register.Sbe_ncar" name="action" type="text" type="number"
                  clearInput="true" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon [style.color] = "colorSeg" name="mail" item-start></ion-icon>
                <ion-label [style.color] = "colorSeg" floating>Email</ion-label>
                <ion-input [style.color] = "colorSeg" type="email" [(ngModel)]="register.Sbe_mail" name="email" clearInput="true" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon [style.color] = "colorSeg" name="phone-portrait" item-start></ion-icon>
                <ion-label [style.color] = "colorSeg" floating>Celular</ion-label>
                <ion-input [style.color] = "colorSeg" type="tel" [(ngModel)]="register.Sbe_ncel" name="phone" clearInput="true" required></ion-input>
              </ion-item>
              <div padding>
                <button [style.background-color]="colorPri" [style.color] = "colorTer" [disabled]="!RegisterForm.form.valid" ion-button block>Enviar codigo de seguridad
                  &nbsp; <ion-icon name="checkmark-circle" [style.color] = "colorTer"></ion-icon>
                </button>
              </div>
              <div padding *ngIf="codeConfirm!=''">
                <button [style.color] = "colorTer" [style.background-color]="colorPri" [style.color] = "colorSeg" ion-button block (click)="showConfirmCode()">Confirmar código</button>
              </div>
            </ion-list>
          </form>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center >
        <img text-center [src]="logo" class="imgLogo">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <div class="fingerprint" button tappable (click)="GetTouchId()" *ngIf="touchID" >
          <img [src]="fonClar=='S'?'assets/imgs/fingerprintdark.svg': 'assets/imgs/fingerprint.svg'">
        </div>
        <div class="fingerprint" button tappable (click)="GetTouchId()" *ngIf="faceID">
            <img [src]="fonClar=='S'?'assets/imgs/faceiddark.svg':'assets/imgs/faceid.svg'">
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar id="footer"  text-center [style.color]="colorSeg">
    <button class="btn-testing" type="button" [style.color] = "colorSeg"  (click)="verifyTestingPassword()" ion-button clear> &nbsp;
      <ion-icon button name="cog"></ion-icon>
    </button>     
    <button  type="button" class="btn-errase" [style.color] = "colorSeg"  (click)="errase()" ion-button clear> &nbsp;
      <ion-icon button name="trash"></ion-icon>
    </button>      
    <small> {{appCopyright}}</small><br>
    <small> V.{{appVersion}}</small>



  </ion-toolbar>

</ion-footer>