<!--
  Generated template for the NetworkingSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="goHome()" ion-button round>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Lo que busco</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="element-aparecer">
  <div class="search-container">
    <ion-searchbar animated debounce="500" type="text" [(ngModel)]="searchTerms" showCancelButton placeholder="Buscar"
      (ionInput)="GetSoPernw()"></ion-searchbar>
  </div>
  <div>
    <ion-item no-lines class="item-filter">
      <ion-label>Organizar Por</ion-label>
      <ion-select interface="alert" cancelText="Cancelar" (ionChange)="setFilter($event)" okText="Ok" [selectOptions]="optionsSheet" [(ngModel)]="filter" onchange="">
        <ion-option *ngFor="let option of options" [value]="option.value">{{option.text}}</ion-option>        
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="loading">
    <ion-list class="m-n">
      <ion-item no-lines *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
        <ion-avatar item-start>
          <skeleton-item height="50px" width="50px"></skeleton-item>
        </ion-avatar>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item no-lines *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
        <ion-avatar item-start>
          <skeleton-item height="50px" width="50px" rounded></skeleton-item>
        </ion-avatar>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!loading">
    <div  class="card" *ngFor="let profile of profiles">
      <div class="card-profile">
        <ion-item no-lines no-padding class="item-filter transparent">
          <button class="orange" (click)="goOtherProfile(profile)" item-end ion-button outline>
               <ion-icon name="eye"></ion-icon> &nbsp; Perfil
          </button>
          <ion-avatar class="profile-Menu" item-left>
            <img src="assets/imgs/user-profile.svg">
          </ion-avatar>
          <h2 class="blue"> <b>{{profile.sbe_nomb}}</b></h2>
          <h3 class="blue">{{ getProfession(profile) }}</h3>
        </ion-item>

      </div>
      <div class="card-body">
        <div class="card-text" text-left>
          <p class="text-profile"> {{  profile.per_admi}} </p>
          <h3 class="blue">{{getSectorName()}}</h3>
        </div>

      </div>
      <div class="card-footer">

        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button class="btn-footer">
                <ion-icon name="ios-mail-outline"></ion-icon>
                &nbsp; Enviar Mensaje
              </button>
            </ion-col>
            <ion-col>
              <button (click)="addToFavorites(profile)" ion-button class="btn-footer">
                <ion-icon name="ios-mail-outline"></ion-icon>
                &nbsp; Añadir a favoritos
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </div>



</ion-content>