<!--
  Generated template for the NetworkingProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button class="home-button" (click)="goHome()" ion-button round>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="myProfileMode">
      <button [disabled]="saving" (click)="saveChanges()" ion-button round>
        <div class="font-icon">
          <i class="" [class]="saving?'fa fa-refresh fa-spin':'fa fa-floppy-o'" aria-hidden="true"></i>
        </div>
      </button>
    </ion-buttons>
    <ion-title>{{myProfileMode? user.Soc_nomb + " " + user.Soc_apel : "Perfil"  }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="element-aparecer">
  <div *ngIf="loadingProfile">
    <skeleton-item height="320px" no-animated></skeleton-item>
    <div padding>
      <skeleton-item height="24px"></skeleton-item>
      <skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></skeleton-item>
      <skeleton-item height="14px"></skeleton-item>
      <skeleton-item height="14px"></skeleton-item>
      <skeleton-item width="67%"></skeleton-item>
    </div>
    <div padding>
      <skeleton-item height="52px" radius="8px"></skeleton-item>
    </div>
    <ion-item no-lines>
      <ion-avatar item-start>
        <skeleton-item height="36px" width="36px" rounded></skeleton-item>
      </ion-avatar>
      <skeleton-item height="16px" width="67%"></skeleton-item>
    </ion-item>
  </div>
  <div *ngIf="!loadingProfile">
    <div class="profile">
      <ion-item button no-lines no-padding class="transparent">
        <ion-avatar item-start text-center class="profile-avatar center">
          <img (click)="viewImage('data:image/jpeg;base64,' + foto)" class="profileMode" src="data:image/jpeg;base64,{{foto}}">
        </ion-avatar>
        <ion-item no-lines class="transparent item-edit">
          <h2>Profesión</h2>
          <p> <b>{{getProfession()}}</b></p>
          <button *ngIf="myProfileMode" class="button-edit" item-end ion-button clear (click)="setProfession()">
            <ion-icon name="md-create"></ion-icon>
          </button>
        </ion-item>
        <ion-item no-lines class="transparent item-edit">
          <h2>Sector económico</h2>
          <p><b>{{getSectorName()}}</b></p>
          <button *ngIf="myProfileMode" class="button-edit" item-end ion-button clear (click)="setSector()">
            <ion-icon name="md-create"></ion-icon>
          </button>
        </ion-item>
        <ion-item *ngIf="myProfileMode" no-lines class="transparent item-edit">
          <h2>Estado</h2>
          <p><b>{{myProfile.per_esta=='A'?'Aprobado':myProfile.per_esta=='P'?'Pendiente':'Sin definir'}}</b></p>
        </ion-item>
        <button *ngIf="myProfileMode" color="light" item-end ion-button clear (click)="loadCamera()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-item>
    </div>
    <ion-grid padding>
      <ion-row *ngIf="!myProfileMode">
        <ion-col>
          <button (click)="addToFavorites()" block class="orange" ion-button round>
            <ion-icon name="ios-add-circle-outline"></ion-icon>
            &nbsp;Añadir a favoritos
          </button>
        </ion-col>
        <ion-col>
          <button (click)="goChat()" block class="yellow" ion-button round>
            <ion-icon name="ios-mail-outline"></ion-icon>
            &nbsp;Enviar mensaje
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div padding>
      <ion-list-header>
        <ion-label>
          Acerca de mi
        </ion-label>
        <button class="color-orange" item-end *ngIf="myProfileMode" ion-button clear (click)="goEditAbout()">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item no-lines class="transparent item-edit">
        <p>{{ myProfile.per_admi}}</p>
        <button class="button-edit" item-end ion-button clear>
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item>
      <ion-list-header>
        <ion-label>
          Años de experiencia
        </ion-label>
        <button class="color-orange" item-end *ngIf="myProfileMode" ion-button clear (click)="SetPerAexp()">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item no-lines class="transparent item-edit">
        <p>{{ myProfile.per_aexp}}</p>
        <button class="button-edit" item-end ion-button clear>
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item>
      <ion-list-header>
        <ion-label>
          Palabras clave
        </ion-label>
        <button class="color-orange" item-end *ngIf="myProfileMode" ion-button clear (click)="goEditTags()">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item no-lines class="transparent item-edit">
        <p> {{ myProfile.per_tags}}</p>
        <button *ngIf="myProfileMode" class="button-edit" item-end ion-button clear>
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item>
      <ion-list-header>
        <ion-label>
          Proyectos
        </ion-label>
        <button *ngIf="myProfileMode" (click)="addOrEditProyect()" item-end ion-button clear rounded
          class="color-orange">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-list-header>
      <div *ngIf="myProfile.details!=undefined">
        <ion-item *ngFor="let proyect of myProfile.details" no-lines>
          <ion-thumbnail class="profile-body" item-start>
            <img *ngIf="proyect.dpe_fpro!=undefined" class="profileMode" src="data:image/jpeg;base64,{{proyect.dpe_fpro}}" alt="proyecto">
            <img *ngIf="proyect.dpe_fpro==undefined" class="profileMode" src="assets/imgs/computer.svg"  alt="proyecto">
          </ion-thumbnail>
          <h2>{{  proyect.dpe_npro }}</h2>
          <p> {{proyect.dpe_desc}} </p>
          <button class="color-orange" *ngIf="myProfileMode" item-end ion-button clear
            (click)="addOrEditProyect(proyect)">
            <ion-icon name="md-create"></ion-icon>
          </button>
          <button ion-button class="color-orange" *ngIf="!myProfileMode" item-end ion-button clear 
          (click)="GoProyect(proyect)">
          <ion-icon name="eye" item-end></ion-icon> 
        </button>
          <button class="color-orange" *ngIf="myProfileMode" item-end ion-button clear (click)="deleteProyect(proyect)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>