page-networking-profile {

font-family: Raleway;
.orange{
    background-color: #FB512C;
}
.color-orange{
    color: #B97D68;
}
.yellow {
    background-color: #9EDC39;
}
//toolbar 
.home-button {
    left: 35px;
}
    .toolbar-title-ios {
        
        color: white;
       
    }

    .toolbar-background-ios {
        background: #2E0C1E;
        color: white;
    }
    .toolbar-ios {
        padding: 4px;
        padding-left: 20px;
        padding-right: 4px;
        padding-bottom: 4px;
    }

    .bar-button-default-ios{
        color: white;
        background-color: #250C1B;
        border-radius: 25px;
        padding: 8px 8px 8px 9px;
        height: 40px;
        width: 40px;
    }
    .font-icon {
        font-size: 30px;
        /* min-height: 100%; */
        padding: 4px;
    }

//Profile Avayar
.profile {
   padding-left: 16px;
   padding-right: 16px;
     h2 {
         color:white;
        //  font-weight: bold;
         overflow-wrap: break-word;
     }
     h1 {
        color:white;
          font-weight: bold;
          font-size: 1.5rem;
     }
     p{
        color:#3F1D62;
     }
     background-image: url("../../assets/imgs/background_profile.jpg");
}

ion-avatar.profile-avatar{
    img {
        border-radius: 50%;
        overflow: hidden;
        width: inherit;
        height: inherit;
        border: 3px solid white;
    }
   background-color: white;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   
}
.item-ios ion-avatar.profile-body  {
    min-width: 100px;
    min-height: 100px;
    img{
        width: 100px;
        height: 100px;
    }
}
ion-avatar.profile-avatar.center{
    margin: auto;
    
 }


//Botones

 .button-ios {
    font-size: 1.2rem;
 }
 .button-ios.activated {
     background-color:#3F1D62 ;
 }

 // informacion usuaerio 


 .text-about {
      .button-ios {
          padding: 0px;
          color:#B97D68;
          right: 0px;
          position: absolute;
          font-size: 1.9rem;
      }
      .button-ios.activated {
       
        color:#3F1D62;
        background-color: transparent;
    }
     h2{
         font-size: 1.0rem;
         font-weight: bold;
     }
    
 }

 
 p{
    font-size: 1.2rem;
    text-transform: lowercase;
}  
     .button-edit {
       
        color: white;
        
    }

    .parragraph {
        width: 100%;
    }

.item-edit.item-ios {
  h2 {
    font-size: 1.3rem;
  }
  p{
      font-size: 1.1rem;
  }
 
}

    .item-ios .item-button {
        padding: 0 0.5em;
        height: 24px;
        font-size: 1.9rem;
    }

  ion-list-header{
      ion-label{
          color:#3F1D62;
      }
  }

}
