<!--
  Generated template for the NetworkingProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="goHome()" ion-button round>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button [disabled]="saving" (click)="saveChanges()" ion-button round>
        <div class="font-icon">
          <i  class="" [class]="saving?'fa fa-refresh fa-spin':'fa fa-floppy-o'" aria-hidden="true"></i>
        </div> 
        <!-- <ion-icon name="md-checkmark-circle"></ion-icon> -->     
      </button>
    </ion-buttons>
    <ion-title>{{myProfileMode?'Mi Perfil':'Perfil'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="element-aparecer">
  <div *ngIf="!myProfileMode" class="profile">
    <ion-item  button no-lines no-padding class="transparent">
      <ion-avatar class="profile-avatar" item-start>
        <img src="assets/imgs/profile-gray.svg">
      </ion-avatar>
      <div>
        <h2>JORGE CAMILO BERNAL MARTINE</h2>
      </div>

      <h3>Profesión</h3>
      <p>Sector económico</p>
   
    </ion-item>
  </div>
  <div *ngIf="myProfileMode" class="profile">

     <button *ngIf="hasEdited" ion-button round class="orange" >

       <ion-icon name="ios-checkmark-circle-outline"></ion-icon>

     </button>
    <ion-item button no-lines no-padding class="transparent">
      <ion-avatar  text-center class="profile-avatar center">
        <img class="profileMode" src="assets/imgs/upload.svg">
      </ion-avatar>
      <div text-center> 
      <h2>{{user.Soc_nomb}}  {{user.Soc_apel}} </h2>
        <h3>{{getProfession()}}</h3>
        <div class="edit-profile">
          <button ion-button clear (click)="setProfession()"> 
            <ion-icon name="md-create"></ion-icon> &nbsp; Editar
          </button>
        </div>
      <p>{{getSectorName()}}</p>
      <div class="edit-profile">
        <button ion-button clear (click)="setSector()"> 
        <ion-icon name="md-create"></ion-icon> &nbsp; Editar
      </button>
      </div>
      
     
      </div>
 
      
    </ion-item>
  </div>

  <ion-grid padding>
    <ion-row *ngIf="!myProfileMode">
      <ion-col>
        <button block class="orange" ion-button round>
          <ion-icon name="ios-add-circle-outline"></ion-icon>
          &nbsp;Añadir a favoritos
        </button>
      </ion-col>
      <ion-col>
        <button block class="yellow" ion-button round>
          <ion-icon name="ios-mail-outline"></ion-icon>
          &nbsp;Enviar mensaje
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="text-about ">
          
          <b>
            Acerca de mí
          </b>
          
            <button *ngIf="myProfileMode" ion-button clear (click)="goEditAbout()"> 
              <ion-icon name="md-create"></ion-icon> &nbsp; Editar
            </button>
          
          
          <p>{{ myProfile.per_admi}}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="text-about">
          <b>
            Proyectos
          </b>
        </div>
       <div text-right>
        <button small class="orange" ion-button round>
          <ion-icon name="ios-add-circle-outline"></ion-icon>
          
        </button>
       </div>
        
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let proyect of myProfile.details">
      <ion-col col-4>
          <div>
            <img src="assets/imgs/computer.svg" alt="proyecto">
          </div>
      </ion-col>
      <ion-col col-8 >
        
        <div class="text-about">
          <button *ngIf="myProfileMode" ion-button clear (click)="goEditProyect(proyect)"> 
            <ion-icon name="md-create"></ion-icon> &nbsp; Editar
          </button>
          <div>
            <h2>{{  proyect.dpe_npro }}</h2>
         </div>
         <p> {{proyect.dpe_desc}} </p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>