<!--
  Generated template for the NetworkingNewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="goHome()" ion-button round>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Zona Empresarial</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="element-aparecer">
  <div class="search-container">
    <ion-searchbar placeholder="Buscar" ></ion-searchbar>
  </div>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div>
          <!-- <ion-item no-lines class="item-filter">
            <ion-label>Organizar Por</ion-label>
            <ion-select>
              <ion-option value="A">Más recientes</ion-option>

            </ion-select>
          </ion-item> -->
          <ion-item no-lines class="item-filter">  
            <ion-label>Organizar Por</ion-label>
            <ion-select interface="alert" cancelText="Cancelar" (ionChange)="setFilter($event)" okText="Ok" [selectOptions]="optionsSheet" [(ngModel)]="filter" onchange="">
              <ion-option *ngFor="let option of options" [value]="option.value">{{option.text}}</ion-option>        
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
<div *ngIf="!loading" >
  <div class="card" *ngFor="let event of events">
    <div class="card-header">
      <h2><b>{{event.rev_desc}}</b></h2>      
    </div>

    <div>
      <div class="card-img">
        
        <img *ngIf="event.rev_foto!=null" src="{{event.rev_foto }}" alt="proyecto">
       
         <div *ngIf="event.rev_foto==null" class="img-loading" text-center>
          <div text-center *ngIf="event.rev_foto == null" class="classified-img-loading">
            <i  class="fa fa-refresh fa-spin" aria-hidden="true"></i>
          </div>
          <!-- <div class="loading-spin">
            <i  class="fa fa-refresh fa-spin" aria-hidden="true"></i>
          </div> -->
        
         </div>
        
      </div>
      
      <div class="card-text">
        <p>{{event.rev_obse}}
        </p>
      </div>
    </div>
 

  </div>
</div>

<div *ngIf="loading">
  <div class="card" *ngFor="let item of [1,2,3]">
    <div class="card-header">
      <skeleton-item width="100%"></skeleton-item>
      <skeleton-item width="50px"></skeleton-item>

    </div>

    <div class="card-body">
      <div class="card-img">
        <skeleton-item width="100%" height="200px"></skeleton-item>
      </div>
      
      <div class="card-text">
        <skeleton-item width="100%"></skeleton-item>
        <div text-right>
          <skeleton-item width="80px" rounded></skeleton-item>
        </div>
        
       
      </div>
      
    </div>
    




  </div>
</div>


</ion-content>
