<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>


    <ion-grid>
       <ion-row>
         <ion-col >
          <div text-center padding>

            <h1> NOGAL  <br> CONECTA </h1>
         </div>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col >
          <div text-center>
            <h2> Bienvenido </h2>
         </div>
         </ion-col>
       
       </ion-row>
       <ion-row>
         <ion-col >
          <div padding id="divTerms">
            <div>
              <b> Términos y condiciones</b>
            </div>
            <p>
             {{params.par_trdu}}
            </p>
          </div>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col text-center >
          <button id="btnAcepto" [disabled]="accepting" ion-button color="light" (click)="Ok()" outline round>{{accepting?'Espera...':'Acepto...'}}
            <div id="btnAceptoRound">
              
              <img *ngIf="!accepting" src="assets/imgs/arrow.svg">
              <div class="font-icon">
                <i *ngIf="accepting" class="fa fa-refresh fa-spin" aria-hidden="true"></i>
              </div>
              
                
            </div>
          </button>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col text-center>
           <div  id="divLogo">
            <img src="assets/imgs/nogal-blanco.svg">
           </div>

           
         </ion-col>
       </ion-row>

    </ion-grid>


  



  



<!-- <ion-grid>
  <ion-row>
   <ion-col>
     <p>
      {{  params.par_trdu }}
     </p>
    
   </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      
      <button ion-button (click)="Ok()" >
        Aceptar
      </button>
    </ion-col>
    <ion-col >
      <button ion-button  (click)="reject()">
        Rechazar
      </button>
    </ion-col>
  </ion-row>
</ion-grid> -->
</ion-content>
