<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <ion-title>PERFIL</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person-add" class="badge-container">
          <span class="custom-badge">3</span>
        </ion-icon>
      </button>
      <button ion-button icon-only (click)="goOptions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <div *ngIf="loadingProfile" padding>
    <div>
      <!-- <ion-item no-lines > -->
        <ion-avatar item-start> 
          <skeleton-item text-center height="120px" width="120px" rounded></skeleton-item>
        </ion-avatar>
        <!-- <skeleton-item height="16px" width="67%"></skeleton-item> -->
      <!-- </ion-item> -->
      
    </div>
      
    
   
  <!-- <div padding>
    <skeleton-item height="24px"></skeleton-item>
    <skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></skeleton-item>
    <skeleton-item height="14px"></skeleton-item>
    <skeleton-item height="14px"></skeleton-item>
    <skeleton-item width="67%"></skeleton-item>
  </div> -->
  <div padding>
    <skeleton-item height="100px" radius="8px"></skeleton-item>
  </div>
  <div padding>
    <skeleton-item height="100px" radius="8px"></skeleton-item>
  </div>

  <!-- <ion-item no-lines>
    <ion-avatar item-start>
      <skeleton-item height="36px" width="36px" rounded></skeleton-item>
    </ion-avatar>
    <skeleton-item height="16px" width="67%"></skeleton-item>
  </ion-item> -->
</div>
<div *ngIf="loadingProfile">
  <ion-row padding>
    <!-- Avatar -->
    <ion-col col-4>
      <img src="https://avatars1.githubusercontent.com/u/918975?v=3&s=120" class="avatar" alt="">
    </ion-col>
    <!-- Information about user -->
    <ion-col col-4 text-center >
      <h6>21</h6>
      <p no-padding no-margin>Proyectos</p>
    </ion-col>
    <ion-col col-4 text-center>
      <h6>114</h6>
      <p no-paddin no-margin>Profesión</p>
    </ion-col>
  </ion-row>

  <!-- Edit/follow button -->
  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin col-4></ion-col>
      <ion-col no-padding no-margin text-center col-8>
      <button class="edit-button" (click)="goEditProfile()">Edita tu perfil</button>
    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>

  <!-- Profile info -->
  <div padding>
    <p no-margin no-padding><b>Acerca de mí</b></p>
    <p no-padding no-margin class="info">Software developer, open-source lover, invoker spammer & heavy metal guitarist</p>
    <p no-padding no-margin class="info"><a href="#">github.com/candelibas</a></p>
  </div>

  <!-- Segments -->
  <div>
    <ion-segment [(ngModel)]="profile_segment">
      <ion-segment-button value="grid">
        <ion-icon name="apps"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tagged" (click)="goTaggedProfile()">
        <ion-icon name="photos"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="saved" (click)="goSavedProfile()">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Segment content -->
  <div [ngSwitch]="profile_segment">
    <ion-list *ngSwitchCase="'grid'">
      <ion-grid>
        <ion-row >
          <ion-col col-4 class="grid_img" *ngFor="let i of images" (press)="pressPhoto(i.id, i.username, i.profile_img, i.post_img)">
            <img [src]="i.post_img" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'list'">
      

    </ion-list>
  </div>
</div>
  


</ion-content>


