page-disponibility {

  .currentDate{
    width:25px;
    height: 25px;
    display: inline-block;
    background-color: red;
  }
  .availableDay{
    width:25px;
    height: 25px;
    display: inline-block;
    background-color: gray;
  }
  .selectedDay{
    width:25px;
    height: 25px;
    display: inline-block;
    background-color: green;
  }
  .CalendarConvention{
    display: inline-block;
  }



  /* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 360px) {
  .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 64%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  }
}
