page-networking-edit-text {

    ion-content {
        background-color: #F1F2F2 !important;
    }
    //general
    .blue {
        color: #2F2260;
    }
    h3 {
       font-size: 1.3rem;
    }
    .orange{
    background-color: #FB512C;
    }
    .yellow {
        background-color: #9EDC39;
    }
    font-family: Raleway;
    
    //toolbar
    .toolbar-title-ios {
        
    color: white;
    
    }
    .toolbar-background-ios {
    background: #2F2260;
    color: white;
    }
    .bar-button-default-ios{
    color: white;
    background-color: #341F53;
    border-radius: 25px;
    padding: 8px 8px 8px 9px;
    height: 40px;
    width: 40px;
    }

    //textarea

    .content-edit{
       border-left: 4px solid #341F53;
        .text-input-ios{
           min-height: 300px;
       }
       .item-ios {
        font-size: 1.4rem;
       }

       
    } 

    .content-info {

    }

    .button-outline-ios {
       
        border-color:  #FB512C;
        
    }

    .button-outline-ios.activated {
        background-color: #FB512C;

    }
}
