<!--
  Generated template for the AgreementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <img button ion-button icon-only [src]="_session.GetCustomSettings().CNX_LOGO" class="app_nogal transparent">
      <div><label>Institucional</label></div> 
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of source" detail-push (tap)="openUrl(item)">
      <ion-avatar item-start>
        <img *ngIf="item.Osa_Bmpr!=null" src="data:image/jpeg;base64,{{item.Osa_Bmpr}}">
          <img *ngIf="item.Osa_Bmpr==null" src="assets/imgs/Imagen-no-disponible.png">
      </ion-avatar>
      <h2>{{item.Osa_Nomb}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
