page-networking-menu {

    .yellow {
        color:#FFFF00;
    }
  font-family: raleway;
    ion-content {
        background-color: #331A2D !important;
        border-bottom: 12px solid #E86243;
       }
       ion-avatar.profile-Menu img {
        height: 70px;
        width: 70px;
        border: 3px solid #E86243;
    }
    h1,h2,h3 {
        color:white;
        font-family:myriadPro;
        
       
    }  
    .item-ios h2 {
        margin: 0 0 2px;
        font-size: 2.0rem;
        font-weight: normal;
    }
    h4{
        color:#FFFFAA;
        font-family: raleway;
    }
    #divLogo{
        img {
            max-width: 50%;
            height: auto;
        }
       
    }
    .btnMenu {
border:0px;
        // padding: 0 10.6rem;
        background-color: #E86243;
    }

    .btnBadge{
          
    height: 45px;
    width: 45px;
    background-color: white;
    position: absolute;
    border-radius: 40px;
    padding: 8px 8px 8px 8px;
    }
    .btnBadge-rigth{
        @extend .btnBadge;
        right: 0px;
    }
    .btnBadge-left{
        @extend .btnBadge;
        left: 0px;
    }

    .fab-message {

    color: #FCFCFC;
    background-color: #00A885;
    }
    .fab-ios.activated{
        background-color:#E86243 ;
    }
    .notification-badge{
        height: 12px;
        width: 12px;
        background-color: #7BBD53;
        right: 10px;
        top: 5px;
        position: absolute;
        border-radius: 12px;
    }
 .loading-banner{
     i {
         color:white;
         font-size: 3rem;
     }
 }

 .card-ios {
    
    border: 2px solid white;
    border-radius: 10px;
}
    
}
