<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>
      <img button ion-button icon-only src="assets/icon/icon.png" class="app_nogal">
      <div><label>Consumos</label></div>     
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list inset>
    <!-- <ion-item detail-push>
      <ion-label>Mes</ion-label>
      <ion-icon name="calendar" item-start></ion-icon>
      <ion-datetime displayFormat="MMMM/YYYY" (ionChange)="GetHistory()" [(ngModel)]="myDate"></ion-datetime>
    </ion-item> -->
    <ion-item>
        <ion-label>Año</ion-label>
        <ion-select [(ngModel)]="year" interface="action-sheet" (ionChange)="cleanControls()">
        <ion-option *ngFor="let year of lastYears">{{year}}</ion-option>              
        </ion-select>
      
      </ion-item>
      <ion-item>
          <ion-label>Mes</ion-label>
          <ion-select [(ngModel)]="month" interface="action-sheet" (ionChange)="loadDaysMonthI()">
            <ion-option *ngFor="let month of months" [value]="month.monthValue">{{month.monthName}}</ion-option>                
          </ion-select>  
           
        </ion-item>

        <ion-item>
          <ion-label>Día inicial</ion-label>
          <ion-select [(ngModel)]="dayI" (ionChange)="loadDaysMonthF()">
              <ion-option [value]="day" *ngFor="let day of daysInMonthI" >{{day}}</ion-option>
          </ion-select>
         
        </ion-item>
        <ion-item>
            <ion-label>Día final</ion-label>
            <ion-select [(ngModel)]="dayF">
                <ion-option [value]="day" *ngFor="let day of daysInMonthF" >{{day}}</ion-option>
            </ion-select>
          </ion-item>
         
        

    
  </ion-list>
  {{year |json}}
  {{month | json}}    
  {{dayI|json}} 
  {{dayF|json}}
  <div padding>
      <button ion-button full icon-end color="danger" (click)="cleanAllControls()">
          Limpiar
          <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button full icon-end (click)="GetHistory()">
          Consultar
          <ion-icon name="eye"></ion-icon>
         
    
      </button>
  </div>

  <ion-card *ngFor="let history of histories">
    <ion-card-header>
      <strong>Total Aprox</strong> {{total(history.lConsumos) | currency:'COP'}}
      <ion-icon item-end name="arrow-dropdown"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngFor="let buy of history.lConsumos " class="animate-in-primary">
      <ion-item class="labelColorBlue">
        <ion-icon name="logo-apple" item-start></ion-icon>
        <h2>Producto</h2>
        <p>{{buy.Pro_nomb}}</p>
      </ion-item>
      <ion-item class="labelColorBlue">
        <ion-icon name="logo-usd" item-start></ion-icon>
        <h2>Valor</h2>
        <p>{{buy.Dvt_valo | currency:'COP'}}</p>
      </ion-item>
      <ion-item class="labelColorBlue">
        <ion-icon name="calendar" item-start></ion-icon>
        <h2>Fecha</h2>
        <p>{{buy.Con_fech | longDate}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>