<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="outer-content">
<ion-list no-border>
  <ion-item detail-push>
  <ion-label>Mes</ion-label>
  <ion-icon name="calendar" item-start></ion-icon>
  <ion-datetime displayFormat="MMMM/YYYY"  (ionChange)="GetHistory()" [(ngModel)]="myDate"></ion-datetime>
</ion-item>
</ion-list>
  <ion-card *ngFor="let history of histories">
    <ion-card-header>
    <strong>Total Aprox</strong> {{total(history.lConsumos) | currency:'COP'}}
  <ion-icon item-end  name="arrow-dropdown"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngFor="let buy of history.lConsumos " class="animate-in-primary">
      <ion-item class="labelColorBlue">
        <ion-icon name ="logo-apple" item-start></ion-icon>
        <h2>Producto</h2>
        <p>{{buy.Pro_nomb}}</p>
      </ion-item>
      <ion-item class="labelColorBlue">
          <ion-icon name ="logo-usd" item-start></ion-icon>
        <h2>Valor</h2>
        <p>{{buy.Dvt_valo | currency:'COP'}}</p>
      </ion-item>
   <ion-item class="labelColorBlue">
       <ion-icon name ="calendar" item-start></ion-icon>
     <h2>Fecha</h2>
     <p>{{buy.Con_fech | longDate}}</p>
   </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
