<!--
  Generated template for the ConfirmPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <img button ion-button icon-only src="assets/icon/icon.png" class="app_nogal">
      <div>Confirmación</div> 
  </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list *ngIf="online">
    <ion-item >
      <ion-icon name="briefcase" item-start></ion-icon>
      <ion-label>Código de entidad</ion-label>
      <ion-note class="note" item-end>
        {{transact.entityCodeField}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="clipboard" item-start></ion-icon>
      <ion-label>Código interno Ecollet</ion-label>
      <ion-note class="note" item-end>
            {{transact.ticketIdField}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="card" item-start></ion-icon>
      <ion-label>Código de trazabilidad</ion-label>
      <ion-note class="note" item-end>
        {{transact.trazabilityCodeField}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle"  item-start></ion-icon>
      <ion-label>Estado Transacción</ion-label>
      <ion-note class="note" item-end>
     {{ transact.tranStateField  }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" item-start></ion-icon>
      <ion-label>Valor</ion-label>
      <ion-note class="note" item-end>
         {{transact.transValueField | currency:'COP'}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-bitcoin" item-start></ion-icon>
      <ion-label>Moneda</ion-label>
      <ion-note class="note" item-end>
         {{transact.payCurrencyField}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-start></ion-icon>
      <ion-label>Fecha de proceso</ion-label>
      <ion-note class="calendar" item-end>
         {{transact.bankProcessDateField  | date :'dd/MM/yyyy'}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="cash" item-start></ion-icon>
      <ion-label>Banco</ion-label>
      <ion-note class="note" item-end>
         {{transact.bankNameField}}
      </ion-note>
    </ion-item>
    <ion-item *ngIf="transact.referenceArrayField!=undefined">
      <ion-icon name="body" item-start></ion-icon>
      <ion-label>Socio</ion-label>
      <ion-note class="note" item-end>
         {{transact.referenceArrayField[0]}}
      </ion-note>
    </ion-item>
    <ion-item *ngIf="transact.referenceArrayField!=undefined">
      <ion-icon name="at" item-start></ion-icon>
      <ion-label>Email</ion-label>
      <ion-note class="note" item-end>
         {{transact.referenceArrayField[1]}}
      </ion-note>
    </ion-item>          
  </ion-list>
<div *ngIf="!online"> 
  <ion-list no-border *ngFor="let item of offlineBookings" >

    <ion-list-header>

      <ion-icon name="clipboard"></ion-icon>
      Reserva  {{item.Res_nume}}
    </ion-list-header>

    <ion-item>
      <ion-icon name='person' item-start></ion-icon>
      Socio
      <ion-note item-end>
      {{user.Soc_nomb}}  {{user.Soc_apel}}
      </ion-note>
    </ion-item>

    <ion-item>
        <ion-icon name='card' item-start></ion-icon>
        Identificación
        <ion-note item-end>
        {{user.Sbe_codi}}
        </ion-note>
      </ion-item>
    <ion-item>
      <ion-icon name='calendar' item-start></ion-icon>
      Inicio
      <ion-note item-end *ngIf="item.FechaInicio">
        {{item.FechaInicio | longDate}}
      </ion-note>
      <ion-note item-end *ngIf="item.res_fini">
        {{item.res_fini | date:'dd/MM/yyyy'}}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='calendar' item-start></ion-icon>
      Fin
      <ion-note item-end *ngIf="item.FechaFin">
     {{item.FechaFin | longDate}}
      </ion-note>
      <ion-note item-end *ngIf="item.res_fina">
        {{item.res_fina | date:'dd/MM/yyyy'}}
         </ion-note>
    </ion-item>

    <ion-item>
        <ion-icon name='logo-usd' item-start></ion-icon>
        Valor
        <ion-note item-end>
       {{item.res_valo  | currency:'COP'}}
        </ion-note>
      </ion-item>



  </ion-list>
</div>
  <button ion-button full icon-left (click)="print()"  *ngIf="!online">
      <ion-icon name ="print"></ion-icon>Generar comprobante
    </button>
  <button ion-button full icon-left (click)="goReservas()">
  <ion-icon name ="checkmark"></ion-icon>Cerrar
</button>
</ion-content>
