<!--
  Generated template for the BookingNewInvitedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  
  <ion-navbar>
    <ion-title>
      <img button ion-button icon-only [src]="_session.GetCustomSettings().CNX_LOGO" class="app_nogal transparent">
      <div><label>Nuevo invitado</label></div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()" >
        <ion-icon name="close-circle"></ion-icon>
      </button>
          </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="type=='C'" no-border-top>
    <ion-searchbar debounce="300" type="text" (ionChange)="searchAAction($event.value)" [showCancelButton]="true" placeholder="Buscar por No.Acción">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content  class="outer-content">
  <div *ngIf="type=='C'">
    <ion-item *ngIf="partners!=null && partners.length>0" class="header">
      <ion-label>SOCIOS</ion-label>
    </ion-item>
   <ion-item>
     <ion-label><p>Digite el número de acción del socio a invitar</p></ion-label>
   </ion-item>
    <ion-list>   
      <ion-item class="animate-in-primary" *ngFor="let beneficiary of partners">    
        <ion-label>{{beneficiary.det_nomb}} {{beneficiary.det_ape1}} {{beneficiary.det_ape2}}</ion-label>    
        <ion-checkbox item-end item-end [(ngModel)]="beneficiary.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
 <form *ngIf="type=='I'"  #invitedForm="ngForm">   
  <ion-list>
    <ion-item>
      <ion-icon item-start name="person"></ion-icon>
      <ion-input [(ngModel)]="invited.det_nomb" name="Nombre" placeholder="Nombres" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon item-start name="person"></ion-icon>
      <ion-input [(ngModel)]="invited.det_ape1" name="Apellido1" placeholder="Apellido 1" required></ion-input>
    </ion-item>  
    <ion-item>
      <ion-icon item-start name="person"></ion-icon>
      <ion-input [(ngModel)]="invited.det_ape2" name="Apellido2" placeholder="Apellido 2"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-icon item-start name="card"></ion-icon>
      <ion-input [(ngModel)]="invited.det_codi" name="identificaion" placeholder="Identificación" required></ion-input>
    </ion-item> 
    <ion-item>
      <ion-icon item-start name="card"></ion-icon>
      <ion-label>Tipo de documento</ion-label>
          <ion-select name="tip_codi" [(ngModel)]="invited.tip_codi" required>
            <ion-option *ngFor="let item of typesDocs" [value]="item.TIP_CODI">{{item.TIP_NOMB}}</ion-option>
            
          </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon item-start name="mail"></ion-icon>
      <ion-input [(ngModel)]="invited.det_corr" name="mail" placeholder="Email" required></ion-input>
    </ion-item> 
    <ion-item>
      <ion-icon item-start name="calendar"></ion-icon>
      <!-- <input type="date" id="start" name="trip-start"
      
      min="2020-11-01" > -->
      <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" name="fecha" required doneText="Hecho" placeholder="Fecha de nacimiento"
       pickerFormat="DD MMMM YYYY" [(ngModel)]="invited.det_fnac" [max]="minimum"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon item-start name="person"></ion-icon>
      <ion-label>Género</ion-label>
          <ion-select name="gener" [(ngModel)]="invited.det_gene" required>
            <ion-option value="M">Masculino</ion-option>
            <ion-option value="F">Femenino</ion-option>
          </ion-select>
    </ion-item>
  </ion-list>
  <button *ngIf="type=='I'"  (click)="addInvited()" type="submit"  ion-button block icon-end>
    <ion-icon item-end name="ios-checkmark-circle"></ion-icon>
    {{ invitedForm.form.valid? 'Invitar a ' + invited.det_nomb:'Invitar seleccionados' }}
  </button>

</form>
<div *ngIf="type=='S'">

  <ion-item class="header">
    <ion-label>MIS BENEFICIARIOS</ion-label>
   
  </ion-item>
  <ion-item>
   <ion-label> <p>Seleccione los socios que desea invitar</p></ion-label>>
  </ion-item>
  <ion-list>   
    <ion-item class="animate-in-primary" *ngFor="let beneficiary of beneficiaries">      
      <ion-label>{{beneficiary.det_nomb}} {{beneficiary.det_ape1}}  {{beneficiary.det_ape2}}</ion-label>    
      <ion-checkbox item-end item-end [(ngModel)]="beneficiary.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>  
</div>

<button color="secondary" *ngIf="type=='S' || type =='C'" [disabled]="!beneficiariesValid()" (click)="addInvited()"  ion-button block icon-end>
  <ion-icon item-end name="ios-checkmark-circle"></ion-icon>
 Invitar seleccionados
</button>

</ion-content>