<!--
  Generated template for the RunwayEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Reservas pendientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding #item>
        <ion-item>
          Item
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="Cancel(item)">Eliminar</button>
          <button ion-button color="danger" (click)="share(item)">Menús</button>
          <button ion-button color="danger" (click)="share(item)">Equipos</button>
        </ion-item-options>    
      </ion-item-sliding>
      </ion-list>        
      <button ion-button block >
       <ion-icon name="check">Cotizar</ion-icon>
      </button> 
</ion-content> -->

<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">

  <ion-list  class="runway-sliding-demo" *ngFor="let booking of cotiz.reservas">
    <ion-list-header>
      <ion-label>  <h2><strong>Reserva No. {{booking.Res_nume}} - {{booking.FechaInicio | date:'dd/MM/yyyy'}}</strong></h2></ion-label>
        <ion-toggle  button icon-only item-end clear [(ngModel)]="booking.checked">   </ion-toggle>  
    </ion-list-header>
    <ion-item-group>
    <ion-item-sliding  #slidingItem>        
      <ion-item>
        <ion-avatar item-start>
          <img src="data:image/jpeg;base64,{{booking.Esp_imag}}">
        </ion-avatar>       
    {{booking.Esp_nomb}} 
        <ion-note item-end>
            {{booking.FechaInicio | digitalDate}}
        </ion-note>
      </ion-item>       
      <ion-item-options>
        <button ion-button color="secondary" (click)="GoMain(booking,slidingItem)">
          <ion-icon name="restaurant"></ion-icon>
          Menús
        </button>
        <button ion-button color="dark" (click)="GoProducts(booking,slidingItem)">
          <ion-icon name="pricetags"></ion-icon>
          Equipos
        </button>
        <button ion-button color="danger" (click)="Cancel(booking,slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Cancelar
        </button>
      </ion-item-options>
      </ion-item-sliding>
      </ion-item-group>  
      <ion-list-header text-right>
       Producto principal
      </ion-list-header> 
      <ion-item-group>             
      <ion-item>
          <ion-icon item-start name="ios-information-circle-outline"></ion-icon>               
          {{ booking.Pro_nomb }} 
          <ion-note item-end>
              {{ booking.res_valo  | currency:'COP' }}
            </ion-note>
      </ion-item>      
    </ion-item-group>
      <ion-list-header text-right *ngIf="booking.ecmcomp">
        Menús
      </ion-list-header>
      <ion-item-group  *ngFor="let menu of booking.ecmcomp">
          <ion-item>
              <ion-icon item-start name="ios-information-circle-outline"></ion-icon>               
              {{ menu.mco_nomb }} X {{menu.quantity}}
              <ion-note item-end>
                  {{ GetTotalMainTemplates(menu)  | currency:'COP'}}
                </ion-note>
          </ion-item>          
      </ion-item-group>
      <ion-list-header text-right *ngIf="booking.products">
        Equipos
      </ion-list-header>
      <ion-item-group >
      <ion-item *ngFor="let product of booking.products">
          <ion-icon item-start name="information-circle"></ion-icon>
          {{product.pro_nomb}}
          <ion-note item-end>{{product.dli_valo | currency:'COP' }}</ion-note>
      </ion-item>
    </ion-item-group>

    
          <ion-list-header text-right >
              Total reserva
            </ion-list-header>
          <ion-item-group>      
            <ion-item text-right>
                <ion-icon item-start name="logo-usd"></ion-icon>
              <ion-badge > {{ getTotalBooking(booking) | currency:'COP'}}</ion-badge>   
            </ion-item>
          </ion-item-group>
        
    </ion-list>

    
    <div> 
           
    </div>
    <button ion-button block icon-start (click)="save()" [disabled]="!Valid()">
        <ion-icon name="checkmark-circle"></ion-icon>&nbsp;Cotizar
        <!-- <ion-spinner *ngIf="loading" name="ios-small" color="light"></ion-spinner> -->
      </button>


</ion-content>
