<!--
  Generated template for the AgreementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <img button ion-button icon-only src="assets/icon/icon.png" class="app_nogal">
      <div><label>Servicios</label></div> 
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let agreement of agreements" detail-push (tap)="openUrl(agreement)">
      <ion-avatar item-start>
        <img *ngIf="agreement.Osa_Bmpr!=null" src="data:image/jpeg;base64,{{agreement.Osa_Bmpr}}">
          <img *ngIf="agreement.Osa_Bmpr==null" src="assets/imgs/Imagen-no-disponible.png">
      </ion-avatar>
      <h2>{{agreement.Osa_Nomb}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
