<!--
  Generated template for the PqrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>pqr</ion-title>
  </ion-navbar> -->
  <ion-toolbar no-border-top>
    <ion-searchbar
    (ionChange)="getItems($event.value)"
    [showCancelButton]="shouldShowCancel"
    placeholder="Buscar Pqr">
  </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab top right>
    <button ion-fab (click)="newPqr()" class="element">
  <ion-icon  name="add"></ion-icon>
   </button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
<ion-refresher-content>
</ion-refresher-content>
</ion-refresher>
  <ion-list no-lines>
<div  no-border  *ngFor="let pqr of pqrsList; let i = index" class="element-aparecer">
        <ion-item tappable class="labelColorRed" (click)="toggleSection(pqr)" detail-none>
        <ion-badge *ngIf="pqr.seguimientos.length>0" item-end>{{pqr.seguimientos.length}}</ion-badge>
         <ion-icon name="arrow-dropdown-circle" item-end *ngIf="!pqr.open && pqr.seguimientos.length>0"></ion-icon>
         <ion-icon name="arrow-dropup-circle" item-end *ngIf="pqr.open && pqr.seguimientos.length>0"></ion-icon>
         <ion-icon name="megaphone" item-start></ion-icon>

        <h3>Pqr Número  {{pqr.inp_cont}}</h3>
      <p>
            {{pqr.inp_feve| date}}
      </p>
      </ion-item>
      <ion-item *ngIf="pqr.open  && pqr.seguimientos.length>0">
      <ion-card-content>
        <h3>Seguimiento</h3>
        <ion-item tappable class="labelColorBlue" *ngFor="let seguimiento of pqr.seguimientos" (click)="OpenTrace(seguimiento,$event)">
           <ion-icon name="information-circle" color="danger" item-end></ion-icon>
          <h4>{{seguimiento.Din_fese | date :'dd-MM-yyyy hh:mm:a'}}</h4>
          <p>{{seguimiento.Din_segt}}</p>
        </ion-item>
      </ion-card-content>
    </ion-item>

  </div>
</ion-list>







</ion-content>
