<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cotizaciones</ion-title>
    <!-- <ion-buttons end>
<button ion-button icon-only (click)="NewEvent()" >
  <ion-icon name="add"></ion-icon>
</button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content class="outer-content">
  <ion-fab top right edge>
    <button ion-fab (click)="NewEvent()" class="element" *ngIf="eventsVisible">
        
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="eventsVisible">
    <div *ngFor="let item of cotiz">
    <ion-list-header>
     Cotización No.{{ item.cot_nume  }}
    </ion-list-header>
    <ion-item-group>
      <ion-item button tappable   (click)="seeDetails(item)" detail-push>      
        <ion-icon item-start name="paper"></ion-icon>
        <ion-label>  {{ item.cot_desc }}</ion-label>   
      </ion-item>
    </ion-item-group>
  </div>
</ion-list>
</ion-content>
