<!--
  Generated template for the NetworkingClassifiedsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="goHome()" ion-button round>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>Clasificados</ion-title>

  </ion-navbar>
</ion-header>
<ion-content class="element-aparecer">
  <div class="search-container">
    <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)"></ion-searchbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button (click)="goNewClassified()" block class="orange" ion-button round>
          <ion-icon name="ios-add-circle-outline"></ion-icon>
          &nbsp;Crear clasificado
        </button>
      </ion-col>
      <ion-col>
        <button block class="yellow" (click)="goTerms()" ion-button round>
          <ion-icon name="ios-list-box-outline"></ion-icon>
          &nbsp;Ver condiciones
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item no-lines class="item-filter">
            <ion-label>Organizar Por</ion-label>
            <ion-select>
              <ion-option value="A">Más recientes</ion-option>

            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
<div *ngIf="!getting">
  <div class="card" *ngFor="let item of classifieds">
    <div class="card-header">
      <h2><b>{{item.cla_titu}}</b></h2>
      <h2>{{item.aud_ufac}}</h2>

    </div>

    <div class="card-body">
      <div class="card-img">
        <img src="assets/imgs/computer.svg" alt="proyecto">
      </div>
      <p>{{item.cla_desc}}
      </p>
    </div>



    <div class="card-footer">

      <div>
        <b>Nombre:</b> {{item.cla_nomb}}
      </div>
      <div>
        <b>Teléfono:</b> {{item.cla_tele}}
      </div>

    </div>
  </div>
</div>


  <div *ngIf="getting">
    <div class="card" *ngFor="let item of [1,2,3]">
      <div class="card-header">
        <skeleton-item width="100%"></skeleton-item>
        <skeleton-item width="50px"></skeleton-item>
  
      </div>
  
      <div class="card-body">
        <div class="card-img">
          <skeleton-item width="100%" height="200px"></skeleton-item>
        </div>
        
        <div class="card-text">
          <skeleton-item width="100%"></skeleton-item>
          <div text-right>
            <skeleton-item width="80px" rounded></skeleton-item>
          </div>
          
         
        </div>
        
      </div>
      
  
  
  
  
    </div>
  </div>

</ion-content>