page-accommodation-list {
    .item > ion-icon:first-child, .item-inner > ion-icon:first-child {
        text-align: center;
        min-width: 56px;
    }
    ion-icon {
        min-height: 2.8rem;
        font-size: 3.5rem;
        line-height: 1;
    }
    
}
