page-menu {
  .grid-categories {
    width: 50%;
    float: left;
    
}
//font-family: SourceSansPro;
ion-card {
  position: relative;
  text-align: center;       
  background: transparent !important; 
  box-shadow: none !important;

  
}

.img-card {
  margin-bottom: 22px;
}

.card-title {
  position: absolute;
  top: 50%;
  font-size: 1.5em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}
ion-card {
  height: 100%;
  width: 100%;
}
.card {
  height: 100%;
  border: 0px;
}
.card-subtitle {
  font-size: 1.2em;
  position: absolute;
 bottom: 0%;
  width: 100%;
  color: lightslategray;
  font-family: SourceSansPro;
  text-align: center
}
#divLogo{
  margin: auto;
  width: 100px;
}

.btn_card {
  // border-radius: 5px;
  border-top: 1px solid #dfdfdf;
border-left: 1px solid #dfdfdf;


&:nth-child(-n+2) {

border-top: none;
}
&:nth-child(odd) {
border-left: none;

}
 border: 1px solid darkgray;
 

}

  
}
